{% extends "home.html" %}

{% block content %}

<form class="player_input" action="/play" method="post">
    <div class="player1">
        <label for="player1_name">Player 1: Write your name here:</label>
        <input type="text" name="player1_name">
        <div id="player1_choices">
            <select name="player1_choice">
                <option value="None">Choose a move!</option>
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select>
        </div>
    </div>
    <br>
    <div class="player2">
        <label for="player2_name">Player 2: Write your name here:</label>
        <input type="text" name="player2_name">
        <div id="player2_choices">
            <select name="player2_choice">
                <option value="None">Choose a move!</option>
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select>
        </div>
    </div>
    <br>
    <input type="submit" value="Submit">
</form>

{% endblock %}